python-lsp-server   
pyright
ruff
opencv
xarray
dask
netCDF4
bottleneck
fiona
rasterio
regionmask
rioxarray
libsqlite
pysqlite3
beautifulsoup4
folium
ipykernel
joblib
lxml
matplotlib
networkx
nltk
numpy
oauth2client
openpyxl
Pandas
geopandas
regionmask
requests
scipy
scikit-learn
shapely
streamlit
tabulate
xlrd
jupyter
jupyterlab
jupyterlab-lsp
autopep8
mccabe
pydocstyle
pyflakes
pylint
rope
yapf
flask
flask-bootstrap
Flask-Testing