beautifulsoup4
google-api-python-client
google-auth-oauthlib
python-lsp-server         
pyright                    
ruff                    
folium
ipykernel
lxml
matplotlib
networkx
nltk
numpy
oauth2client
openpyxl
opencv
Pandas
Pweave
pylint
requests
scipy
scikit-learn
tabulate
xlrd
xgboost
jupyter
jupyterlab
jupyterlab-lsp
autopep8
mccabe
pydocstyle
pyflakes
pylint
rope
yapf