autopep8
beautifulsoup4
flask
flask-bootstrap
flask-testing
folium
geopandas
google-api-python-client
google-auth-oauthlib
icalendar
ipykernel
jinja2
jupyter
jupyterlab
jupyterlab-lsp
lxml
matplotlib
mccabe
networkx
nltk
numpy
oauth2client
opencv
openpyxl
pandas
pillow
plotly
plotly_express
pweave
pydocstyle
pyflakes
pylint
pyright
python-lsp-server
requests
rope
ruff
scikit-learn
scipy
seaborn
selenium
shapely
sqlite
tabulate
wordcloud
xlrd
yapf
